# boot/grub-hisnos.cfg
set default="0"
set timeout=3

menuentry 'HisnOS Normal Boot' {
    linux /vmlinuz root=live:CDLABEL=HisnOS-Live rd.live.image quiet systemd.show_status=false hisnos.mode=normal
    initrd /initramfs.img
}

menuentry 'HisnOS Safe Mode' {
    linux /vmlinuz root=live:CDLABEL=HisnOS-Live rd.live.image systemd.unit=hisnos-safe.target hisnos.mode=safe
    initrd /initramfs.img
}

menuentry 'HisnOS Safe Hardware (nomodeset, basic ACPI)' {
    linux /vmlinuz root=live:CDLABEL=HisnOS-Live rd.live.image systemd.unit=hisnos-safe.target nomodeset nohz=off acpi=off
    initrd /initramfs.img
}

menuentry 'HisnOS Recovery Shell (rd.break)' {
    linux /vmlinuz root=live:CDLABEL=HisnOS-Live rd.live.image rd.break
    initrd /initramfs.img
}
