default vesamenu.c32
timeout 30

menu title HisnOS Boot Menu
menu color border 0 #ffffffff #00000000
menu color sel 7 #ffffffff #ff000000
menu color title 0 #ffffffff #00000000

label linux
  menu label Boot HisnOS Normal
  kernel vmlinuz
  append initrd=initramfs.img root=live:CDLABEL=HisnOS-Live rd.live.image quiet systemd.show_status=false hisnos.mode=normal

label safe
  menu label Boot HisnOS Safe Mode
  kernel vmlinuz
  append initrd=initramfs.img root=live:CDLABEL=HisnOS-Live rd.live.image systemd.unit=hisnos-safe.target hisnos.mode=safe

label hardware_safe
  menu label Boot HisnOS Safe Hardware
  kernel vmlinuz
  append initrd=initramfs.img root=live:CDLABEL=HisnOS-Live rd.live.image systemd.unit=hisnos-safe.target nomodeset nohz=off intel_pstate=passive

label rescue
  menu label Boot HisnOS Rescue Shell
  kernel vmlinuz
  append initrd=initramfs.img root=live:CDLABEL=HisnOS-Live rd.live.image rd.break
